extends layout

block layout-content
    .View.WelcomeView
        h1.Banner IFECHIGO
        .Message
            .Title
                h3 Making the Best
                h1 Food for Devs
            span.Details Access the IFECHIGO site
        .NavButtons
            a(href="/user")
                .NavButton log in

